.game-logos {
  color: rgb(106,108,111);
}

.game-logos svg{
  margin-right: 5px;
  opacity: 0.3;
}

.game-logos small {
  margin-top: 16px;
  font-size: 12px;
  display: block;
}

.game-logos p {
  font-size: 14px;
  display: block;
  color: inherit;
}
