@import 'bootstrap';

body {
  background-color: #fff;

  &.with-background {
    background-image: url('../background@3x.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.container-fluid {
  padding: 50px;
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  position: relative;
}

h1  {
  margin-top: 100px;
  font-size: 48px;
  font-family: 'Roboto';
  font-weight: 900;
  color: #181f2f;
  margin-bottom: 25px;
}

p {
  font-size: 20px;
  color: #181f2f;
  line-height: 1.65;
}

p strong, small strong {
}

.carousel {
  position: relative;
  right: -50px;
  text-align: center;

  img {
    margin: 0 auto;
    max-width: 100%;
  }
}

.btn-cta {
  position: relative;
  width: 280px;
  text-align: left;
  height: 56px;
  background-color: #007bff;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.3px;
  margin-top: 48px;
  margin-bottom: 24px;
  border-radius: 8px;
}

.btn-cta svg {
  position: absolute;
  right: 15px;
  top: 18px;
}

.haveAccountLink {
  opacity: 0.9;
  font-size: 16px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #181f2f;
}

.centered {
  text-align: center;

  .btn-cta {
    text-align: center;

    svg {
      position: relative;
      top: 3px;
      margin-right: -10px;
    }
  }
}

@media (max-width: 769px) {
  .carousel {
    display: none;
  }
}
