.legal {

p, h1, h2, h3, h4, li {
  text-align: left !important;
}

strong {
  color: white;
}

ol li {
  list-style: none;
  padding-left: 20px;
}

body, h1 {
  counter-reset: h2counter;
}

h1 {
  margin-bottom: 40px;
}

h2 {
  margin-top: 40px;
  counter-reset: h3counter;
}

h2:before {
  content: counter(h2counter) ".\0000a0\0000a0";
  counter-increment: h2counter;
  counter-reset: h3counter;
}

h3 {
  margin-top: 20px;
  counter-reset: h4counter;
}

h3:before {
  content: counter(h2counter) "." counter(h3counter) ".\0000a0\0000a0";
  counter-increment: h3counter;
}

// Lists
h2 + ol {
  margin-left: 20px;
  counter-reset: licounter;
}

h2 + ol li:before {
  content: counter(h2counter) "." counter(licounter) ".\0000a0\0000a0";
  counter-increment: licounter;
  float: left;
  width: 45px;
  margin-left: -60px;
  font-size: 18px;
  margin-top: 1px;
  font-weight: bold;
}


h3 + ol, h3 + p + ol {
  margin-left: 40px;
  counter-reset: licounter;
}

h3 + ol li:before,  h3 + p + ol li:before{
  content: counter(h2counter) "." counter(h3counter) "." counter(licounter) ".\0000a0\0000a0";
  counter-increment: licounter;
  float: left;
  width: 45px;
  margin-left: -60px;
  font-size: 18px;
  margin-top: 1px;
  font-weight: bold;
}

h4:before {
  content: counter(h2counter) "." counter(h3counter) "." counter(h4counter) ".\0000a0\0000a0";
  counter-increment: h4counter;
}

h4 + ol {
  margin-left: 60px;
}

h4 + ol li:before {
  content: counter(h2counter) "." counter(h3counter) "." counter(h4counter) "." counter(licounter) ".\0000a0\0000a0";
  counter-increment: licounter;
  width: 65px;
  margin-left: -80px;
  font-size: 18px;
  margin-top: 1px;
}
}

