{{ define "body_tags" }}
  class="with-background"
{{ end }}

{{ define "main" }}
  <div id='main' aria-role="main" class="row index">
    <div class="col-md-6">
      <h1>
        {{- partial "title.html" .Title -}}
      </h1>
      <!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
      {{.Content}}

    </div>
    <div class="col-md-6">
      {{ $slider := print "/sliders/" .Page.Params.slider }}
      {{ with .Site.GetPage $slider }}
        {{- partial "slider.html" (dict "images" .Resources "width" .Params.slideWidth1x ) -}}
      {{ else }}
        {{ errorf "Cannot find slider: %q" $slider }}
      {{ end }}
    </div>
  </div>
{{ end }}

{{ define "footer" }}
  {{- partial "logos.html" . -}}
  {{- partial "footer.html" . -}}
{{ end }}
