{{ define "main" }}
  <div id='main' aria-role="main" class="row index">
    <div class="col-md-5">
      <h1>
        {{- partial "title.html" .Title -}}
      </h1>
      <!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
      {{.Content}}

      {{- partial "logos.html" . -}}
    </div>
    <div class="col-md-7">
      {{- partial "slider.html" (.Page.Resources) -}}
    </div>
  </div>
{{ end }}

{{ define "footer" }}
  {{- partial "footer.html" . -}}
{{ end }}
