<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('set', 'anonymizeIp', true)
ga('create', {{ .Site.GoogleAnalytics }}, 'auto');
ga('send', 'pageview');

{{ with .Site.Params.GoogleTagManager }}
ga('require', {{ . }} );
(function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date;
h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
(a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;
})(window,document.documentElement,'async-hide','dataLayer',4000,
{ {{ . }}:true});
{{ end }}

{{ with .Site.Params.AmplitudeApiKey }}

(function(e,t){var n=e.amplitude||{_q:[],_iq:{}};var r=t.createElement("script")
;r.type="text/javascript";r.async=true
;r.src="https://cdn.amplitude.com/libs/amplitude-4.5.2-min.gz.js"
;r.onload=function(){if(e.amplitude.runQueuedFunctions){
e.amplitude.runQueuedFunctions()}else{
console.log("[Amplitude] Error: could not load SDK")}}
;var i=t.getElementsByTagName("script")[0];i.parentNode.insertBefore(r,i)
;function s(e,t){e.prototype[t]=function(){
this._q.push([t].concat(Array.prototype.slice.call(arguments,0)));return this}}
var o=function(){this._q=[];return this}
;var a=["add","append","clearAll","prepend","set","setOnce","unset"]
;for(var u=0;u<a.length;u++){s(o,a[u])}n.Identify=o;var c=function(){this._q=[]
;return this}
;var l=["setProductId","setQuantity","setPrice","setRevenueType","setEventProperties"]
;for(var p=0;p<l.length;p++){s(c,l[p])}n.Revenue=c
;var d=["init","logEvent","logRevenue","setUserId","setUserProperties","setOptOut","setVersionName","setDomain","setDeviceId","setGlobalUserProperties","identify","clearUserProperties","setGroup","logRevenueV2","regenerateDeviceId","groupIdentify","logEventWithTimestamp","logEventWithGroups","setSessionId","resetSessionId"]
;function v(e){function t(t){e[t]=function(){
e._q.push([t].concat(Array.prototype.slice.call(arguments,0)))}}
for(var n=0;n<d.length;n++){t(d[n])}}v(n);n.getInstance=function(e){
e=(!e||e.length===0?"$default_instance":e).toLowerCase()
;if(!n._iq.hasOwnProperty(e)){n._iq[e]={_q:[]};v(n._iq[e])}return n._iq[e]}
;e.amplitude=n})(window,document);

amplitude.getInstance().init({{ . }}, null, {
    saveEvents: true,
    includeUtm: true,
    includeReferrer: true,
    trackingOptions: {
       ip_address: false,
    }}, function(instance) {
        // Set the deviceId explicitly to help join with the Account Backend page
        instance.setDeviceId(instance.options.deviceId)
    }
);

window.addEventListener("load", function(event) {
  var amplitudeEventName = readAmplitudeString('amplitudeEventName')
  var amplitudeEventProperties = readAmplitudeString('amplitudeEventProperties')

  if (amplitudeEventName) {
    if(amplitudeEventProperties) {
      var properties = {};
      properties[amplitudeEventProperties.split(":")[0]] = amplitudeEventProperties.split(":")[1]
      properties

      amplitude.getInstance().logEvent(amplitudeEventName, properties)
    } else {
      amplitude.getInstance().logEvent(amplitudeEventName)
    }
  }

})

var readAmplitudeString = function(propertyName) {
  var element = document.querySelector('meta[name="' + propertyName + '"]')
  if (element) {
    return element.getAttribute('content')
  }
}

// Code to call after experiment is run
function delayedInitialization() {
  var amplitudeUserProperties = readAmplitudeString('amplitudeUserProperties')

  if (amplitudeUserProperties) {
    console.log("Sending: " + amplitudeUserProperties)
    var identify = new amplitude.Identify().append(...amplitudeUserProperties.split(":"))
    amplitude.identify(identify)
  }
}

var hideEnd = dataLayer.hide.end;
if (hideEnd) {
  dataLayer.hide.end = function() {
    delayedInitialization();
    hideEnd();
  }
} else {
  delayedInitialization();
}

{{ end }}

</script>
