<head>
  <meta charset="UTF-8">
  <!-- Analytics -->
  {{- partial "analytics.html" . -}}

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,900i" rel="stylesheet">

  <!-- CSS -->
  {{ $main := resources.Get "sass/main.scss" | resources.ToCSS | minify | fingerprint}}
  <link rel="stylesheet" href="{{ $main.Permalink }}">

  {{ if (fileExists "sass/custom.css") }}
    {{ $custom := resources.Get "sass/custom.scss" | resources.ToCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $custom.Permalink }}">
  {{ end }}

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#166ae8">
  <meta name="msapplication-TileColor" content="#2d89ef">
  <meta name="theme-color" content="#ffffff">
</head>
