<button id="cta" class="btn btn-lg btn-primary btn-cta">
  {{ .Get "label" }}
  <svg xmlns="http://www.w3.org/2000/svg" width="29" height="21" viewBox="0 0 29 21">
    <path fill="#FFF" fill-rule="nonzero" d="M22.522 11.889H2.292a1.556 1.556 0 0 1 0-3.111h20.23L16.05 3.227A1.556 1.556 0 0 1 18.075.866l9.662 8.287c.724.62.724 1.74 0 2.361l-9.662 8.287a1.556 1.556 0 0 1-2.025-2.361l6.472-5.551z"/>
  </svg>
</button>

<script>
  function ctaDefault() {
    // Log to amplitude if defined
    {{ with .Get "amplitude" }}
    amplitude.getInstance().logEvent({{ . }})
    {{ end }}

    // Set url
    location.href = {{ .Get "url" }};
  }

  document.getElementById("cta").onclick = function() {
    // Log to amplitude if defined
    {{ with .Get "onclick" }}
      window[{{ . }}]()
    {{ else }}
      ctaDefault()
    {{ end }}
  }
</script>
