@import '../bootstrap';
$background: #090a14;
$highlight: #3377ff;
$text: rgba(255,255,255,0.5);

$vert: 26px;

body {
  background-color: $background;
  background-image: url('../../games_bg@3x.png');
  background-size: 436px 431px;
}

#logo-zack {
  width: 83px;
  height: 37px;
  margin-left: 21px;
  margin-top: 36px;
  fill: $highlight;
}

#main {

  .container {
    max-width: 720px;
    text-align: center;
    color: white;
  }

  h1 {
    font-size: 36px;
    font-weight: bold;
    margin-top: $vert * 1.5;
    margin-bottom: $vert * 1.5;
  }

  h2  {
    font-size: 26px;
    margin-bottom: $vert;
  }

  hr {
    margin-top: $vert;
    margin-bottom: $vert;
    width: 80px;
    border-top: 2px solid $highlight;
  }

  p {
    color: rgba(255,255,255,0.5);
    text-align: center;
    font-size: 14px;
  }

  p em {
    color: $highlight;
    font-style: normal;
  }

  .video {
    margin-left: -15px;
    margin-top: $vert;
    margin-bottom: $vert;
    // box-shadow: 0 0 30px 0 #474539;
    // border: 1px solid #383050;
    width: 720px;
  }

  @media (max-width: 720px) {
    .video {
      width: 100vw;
      margin-left: -30px;

      video {
        width: 100vw;
      }
    }
  }

  .centered-image-row {
    display: flex;
    align-items: center;
  }

  .centered-image-row:nth-child(2n+0) {
    .half-column:nth-child(1) {
      @extend .order-sm-last;
    }

    .half-column:nth-child(2) {
      @extend .order-sm-first;
    }
  }

  .half-column {
    h2 {
      text-align: left;
      position: relative;
      margin-bottom: 22px;

        &:before {
        content: "";
        position: absolute;
        width: 40px;
        height: 1px;
        bottom: -10px;
        left: 0;
        border-bottom: 2px solid $highlight;
      }
    }

    p {
      text-align: left;
    }
  }

  @media (min-width: 880px) {
    // This row is just wider then the rest of the design
    .row-wide {
      margin-left: -75px;
      margin-right: -75px;
    }

    .row-linethrough {
      position: relative;

      &:before {
        content: "";
        width: 80%;
        position: absolute;
        height: 1px;
        top: 33%;
        left: 10%;
        border-bottom: 1px solid rgb(11,24,49);
      }
    }
  }

  .quarter-column {
    @extend .col-sm-3;
    @extend .col-6;

    img {
      background-color: $background;
    }
  }

  .btn-cta {
    position: relative;
    width: 206px;
    padding-left: 20px;
    text-align: right;
    height: 40px;
    background-color: $highlight;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.1px;
    margin-top: $vert;
    margin-bottom: $vert;
    border-radius: 8px;

    svg {
      position: absolute;
      left: 10px;
      top: 9px;
      fill: white;
    }
  }

  .highlight-wide {
    background-color: $highlight;

    width: 100vw;
    position: relative;
    left: 50%;
    margin-left: -50vw;
    margin-bottom: $vert;
    margin-top: 2*$vert;
    padding-top: $vert / 2;
    padding-bottom: $vert / 2;

    h1 {
      margin-bottom: 0;
    }

    .btn-cta {
      color: $highlight;
      background-color: white;

      svg {
        fill: $highlight;
      }
    }
  }

  a.haveAccountLink {
    display: inline-block;
    color: white;
    font-weight: bold;
    margin-bottom: 3*$vert;
  }
}

footer {
  text-align: center;
  color: $text;
  margin: $vert;

  a {
    color: $text;
  }
}


