@import '../bootstrap';
$background: #090a14;
$highlight: #3377ff;
$text: darken(white, 50%);
$text-claim: darken(white, 50%);
$vert: 26px;

// Timea font-size
$font-size-body: 14px;
$font-size-h1: 36px;
$font-size-h2: 26px;
$font-size-claim: 20px;
$cta-width: 200px;

// Markus Wulff changes
$font-size-body: 16px;
$font-size-h1: 50px;
$font-size-h2: 28px;
$font-size-claim: 20px;
$font-size-footer: 13px;
$text-claim: darken(white, 30%);
$cta-width: 260px;
$logo-width: 90px;

// For large screens
$large-width: 1200px;
$grow-factor: 1.3;

body {
  background-color: $background;
  background-image: url('../../games_bg@3x.png');
  background-size: 436px 431px;
  overflow-x: hidden;
}

#logo-zack {
  fill: $highlight;
  width: $logo-width;
  height: $logo-width * (4/9);
  margin-left: 1.5*$vert;
  margin-top:  1.5*$vert;
  @media (min-width: $large-width) {
    width: $logo-width * $grow-factor;
    height: $logo-width * (4/9) * $grow-factor;
    margin-left: 1.5*$vert * $grow-factor;
    margin-top:  1.5*$vert * $grow-factor;
  }
}

#main {

  .container {
    max-width: 720px;
    @media (min-width: $large-width) {
      max-width: 720px * $grow-factor;
    }
    text-align: center;
    color: white;
  }

  h1 {
    font-size: $font-size-h1;
    font-weight: bold;
    margin-top: $vert * 1.5;
    margin-bottom: $vert * 1.5;
    @media (min-width: $large-width) {
      font-size: $font-size-h1 * $grow-factor;
      margin-top: $vert * 1.5 * $grow-factor;
      margin-bottom: $vert * 1.5 * $grow-factor;
    }
  }

  h2  {
    font-size: $font-size-h2;
    margin-bottom: $vert;
    @media (min-width: $large-width) {
      font-size: $font-size-h2 * $grow-factor;
      margin-bottom: $vert * $grow-factor;
    }
  }

  hr {
    width: 80px;
    border-top: 2px solid $highlight;
    @media (min-width: $large-width) {
      margin-top: $vert * $grow-factor;
      margin-bottom: $vert * $grow-factor;
      width: 80px * $grow-factor;
    }
  }

  p {
    color: $text;
    text-align: center;
    font-size: $font-size-body;
    @media (min-width: $large-width) {
      font-size: $font-size-body * $grow-factor;
    }
  }

  h1 + p {
    font-size: $font-size-claim;
    color: $text-claim;
    @media (min-width: $large-width) {
      font-size: $font-size-claim * $grow-factor;
    }
  }

  p em {
    color: $highlight;
    font-style: normal;
  }

  .video {
    margin-left: -15px;
    margin-top: $vert;
    margin-bottom: $vert;
    // box-shadow: 0 0 30px 0 #474539;
    // border: 1px solid #383050;
    width: 720px;
    @media (min-width: $large-width) {
      width: 720px * $grow-factor;
      margin-top: $vert * $grow-factor;
      margin-bottom: $vert * $grow-factor;
    }
  }

  @media (max-width: 720px) {
    .video {
      width: 100vw;
      margin-left: -30px;

      video {
        width: 100vw;
      }
    }
  }

  .centered-image-row {
    display: flex;
    align-items: center;
  }

  .centered-image-row:nth-child(2n+0) {
    .half-column:nth-child(1) {
      @extend .order-sm-last;
    }

    .half-column:nth-child(2) {
      @extend .order-sm-first;
    }
  }

  .half-column {
    h2 {
      text-align: left;
      position: relative;
      margin-bottom: $vert;
      @media (min-width: $large-width) {
        margin-bottom: $vert * $grow-factor;
      }

        &:before {
        content: "";
        position: absolute;
        width: 40px;
        @media (min-width: $large-width) {
          width: 40px * $grow-factor;
        }
        height: 1px;
        bottom: -10px;
        left: 0;
        border-bottom: 2px solid $highlight;
      }
    }

    p {
      font-size: $font-size-body;
      text-align: left;
      @media (min-width: $large-width) {
        font-size: $font-size-body * $grow-factor;
      }
    }
  }

  @media (min-width: 880px) {
    // This row is just wider then the rest of the design
    .row-wide {
      margin-left: -75px;
      margin-right: -75px;
    }

    .row-linethrough {
      position: relative;

      &:before {
        content: "";
        width: 80%;
        position: absolute;
        height: 1px;
        top: 33%;
        left: 10%;
        border-bottom: 1px solid rgb(11,24,49);
      }
    }
  }

  .quarter-column {
    @extend .col-sm-3;
    @extend .col-6;

    img {
      background-color: $background;
    }
  }

  .btn-cta {
    position: relative;
    width: $cta-width;
    height: $cta-width / 5;
    border-radius: $cta-width / 25;
    font-size: $cta-width / 15;

    @media (min-width: $large-width) {
      width: $cta-width * $grow-factor;
      height: $cta-width / 5 * $grow-factor;
      border-radius: $cta-width / 25 * $grow-factor;
      font-size: $cta-width / 15 * $grow-factor;
    }

    background-color: $highlight;
    font-weight: bold;
    letter-spacing: 0.1px;
    text-align: right;
    text-indent: $cta-width / 10;

    margin-top: $vert;
    margin-bottom: $vert;

    svg {
      position: absolute;
      fill: white;
      left: $cta-width / 20;
      top: $cta-width / 22;
      height: $cta-width / 10;
      width: $cta-width / 10;

      @media (min-width: $large-width) {
        left: $cta-width / 20 * $grow-factor;
        top: $cta-width / 22 * $grow-factor;
        height: $cta-width / 10 * $grow-factor;
        width: $cta-width / 10 * $grow-factor;
      }
    }
  }

  .highlight-wide {
    background-color: $highlight;
    width: 99.9vw;
    position: relative;
    left: 50%;
    margin-left: -49.9vw;

    margin-bottom: $vert;
    margin-top: 2*$vert;
    padding-top: $vert / 2;
    padding-bottom: $vert / 2;
    @media (min-width: $large-width) {
      margin-top: 2*$vert * $grow-factor;
      margin-bottom: $vert * $grow-factor;
      padding-top: $vert / 2 * $grow-factor;
      padding-bottom: $vert / 2 * $grow-factor;
    }

    h1 {
      margin-bottom: 0;
    }

    .btn-cta {
      color: $highlight;
      background-color: white;

      svg {
        fill: $highlight;
      }
    }
  }

  a.haveAccountLink {
    display: inline-block;
    color: white;
    font-weight: bold;
    margin-bottom: 3*$vert;
  }
}

footer {
  font-size: $font-size-footer;
  @media (min-width: $large-width) {
    font-size: $font-size-footer * $grow-factor;
  }
  text-align: center;
  color: $text;
  margin: $vert;

  a {
    color: $text;
  }
}




